/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/layout.scss */
nav ul {
  list-style: none;
  position: relative;
  display: inline-table;
}
/* line 13, ../sass/layout.scss */
nav ul:after {
  content: "";
  clear: both;
  display: block;
}
/* line 19, ../sass/layout.scss */
nav ul ul {
  position: absolute;
  top: 100%;
}
/* line 23, ../sass/layout.scss */
nav ul ul li {
  float: none;
  position: relative;
}
/* line 28, ../sass/layout.scss */
nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
/* line 35, ../sass/layout.scss */
nav ul li {
  float: left;
}
/* line 38, ../sass/layout.scss */
nav ul li:hover > ul {
  display: block;
}
/* line 42, ../sass/layout.scss */
nav ul ul {
  display: none;
}
